
div{
    margin: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
}

body {
    background-color: #d6d6d6;
    margin: 0;
}

.header {
    padding: 30px;
    text-align: center;
    background-color: rgb(89, 152, 156);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white
    ;
}
.header h1 {
    font-size: 100px;
    margin-bottom: 16px;
}

.menu {
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 40px;
    background-color: transparent

}
